.withdraw,
.send {
  margin: auto;
  width: 80%;
  max-width: 600px;
  height: 70%;
  min-height: 250px;
  min-width: 260px;
  background-color: whitesmoke;
  z-index: 9;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.fields {
  width: 80%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  width: 100%;
  margin: 5px auto;
  border-radius: 15px;
  outline: none;
  padding-left: 5px;
  height: 30px;
  outline: none;
  border: none;
  border: 1px solid lightgray;
}
.err {
  height: 10px;
}
.btn {
  width: 50%;
  margin: auto;
  border-radius: 15px;
  background-color: var(--yellow);
  border: none;
  outline: none;
  font-weight: 700;
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: rgb(77, 63, 63);
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 0 5px 0;
}
.btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.add {
  width: 35%;
  height: 35px;
  border-radius: 15px;
  margin: auto;
  background-color: rgb(65, 67, 88);
  border: 1px solid lightcoral;
  padding: 0px 10px;
  color: var(--yellow);
}
.logo {
  height: 20px;
  width: 20px;
  border: 1px solid red;
}

.errorWrapp {
  width: 70%;
  height: 20px;
  position: relative;
  margin: auto;
  min-width: 220px;
  text-align: center;
  display: flex;
  align-items: center;
}
