.withdraw {
  margin: auto;
  width: 80%;
  max-width: 600px;
  height: 70%;
  background-color: whitesmoke;
  z-index: 9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
}
.withdraw > input,
.withdraw > select,
.withdraw > label {
  width: 80%;
  margin: 5px auto;
  border-radius: 15px;
  height: 30px;
  outline: none;
  padding-left: 5px;
}
.withdraw > input,
.withdraw > select {
  border: 1px solid lightgray;
}
.btn {
  border: 1px solid red;
  height: 35px;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  background-color: var(--yellow);
  border: none;
  outline: none;
  font-weight: 700;
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: rgb(77, 63, 63);
  cursor: pointer;
}
