.navbar {
  position: relative;
  max-width: 100%;
  height: 90px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 90px;
  width: 180px;
}
.icons {
  display: flex;
  align-items: center;
  height: 70px;
  width: 200px;
}
.user {
  height: 60px;
  border: 2px solid rgb(151, 109, 109);
  align-content: center;
  border-radius: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.icon {
  height: 40px;
  width: clamp(25px, 9vw, 40px);
  padding: 5px;
  color: rgb(73, 77, 76);
  cursor: pointer;
}
.dropdown {
  position: absolute;
  top: 90px;
  right: 0;
  width: 200px;
  padding: 0 10px 10px 10px;
  border: 1px solid gray;
  background-color: lightgray;
  border-bottom-left-radius: 15px;
  font-family: monospace;
  z-index: 10;
  opacity: 0.92;
  font-weight: 900;
  height: 220px;
}
.list {
  list-style-type: none;
}
.listItem {
  border-bottom: 1px solid darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: x-large;
  margin-top: 15px;
}
.listItem > span {
  display: flex;
  align-items: flex-end;
}
.please {
  font-size: clamp(1rem, 4vw, 2rem);
  color: var(--dark);
  text-align: center;
  margin: auto;
  height: 100%;
  align-content: center;
}
