.auth {
  margin: auto;
  width: clamp(280px, 50%, 700px);
  background-color: #fff;
  padding: 2vh;
  border-radius: 15px;
  color: var(--dark);
  position: relative;
}

/* ||| HEADER |||||||||||||||||\\ */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  display: flex;
}
.back > div {
  text-align: center;
  height: 30px;
  width: 100%;
}
.logo {
  width: 70%;
}
.icon {
  border-radius: 15px;
  color: var(--dark);
  cursor: pointer;
  width: 50%;
  height: 70%;
  border: 2px solid var(--yellow);
}

/* || INPUT  FIELD |||||||||||||||||||||||| */
.field {
  width: 70%;
  min-width: 250px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.prefix {
  padding: 0 2px 0 35px;
  height: 100%;

  align-content: center;
  text-align: right;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: unset;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
}

.input {
  flex: 1;

  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  background-color: #ffffff;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
}
.btn {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* CODE INPUT|||||||||||||||||||||||||\ */
.wrapper {
  position: relative;
}
.codeWrapper {
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.codeBoxes {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

.codeBox {
  width: 45px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #d0d0d0;
  outline: none;
  transition: 0.2s;
}

.codeBox:focus {
  border-color: var(--yellow);
  box-shadow: 0 0 5px var(--dark);
}
.codeBox:disabled {
  cursor: not-allowed;
}

/* |||||||||||||||      TIMER     |||||||||||||||| */

.timer {
  display: flex;
  flex-direction: column;
  width: clamp(280px, 50%, 700px);
  margin: auto;
  position: relative;
  margin-top: 20px;
}
.timer > div {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  text-align: center;

  align-items: center;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}
.time {
  text-align: center;
}
