.auth {
  margin: 5vh auto;
  width: clamp(280px, 50%, 700px);
  background-color: #fff;
  padding: 2vh;
  height: 60vh;
  border-radius: 15px;
  color: var(--dark);
}
.auth > h2 {
  text-align: center;
}
.auth > h4 {
  text-align: center;
}
.auth > span {
  display: flex;
  justify-content: center;
}
.logo {
  width: 70%;
  margin-left: 15%;
}

.number {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;

  background-color: #fff;
  margin: 2vh auto;
}
.field {
  width: 70%;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;

  overflow: hidden; /* so it looks like one input */
}

.prefix {
  padding: 0 2px 0 35px;
  height: 100%;
  align-content: center;
  text-align: right;
  font-size: 14px;
  background-color: unset;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 14px;
  background-color: #ffffff;
}
.submit {
  width: 50%;
  margin-left: 25%;
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--yellow);
  font-weight: 900;
  font-size: 1rem;
  color: var(--dark);
  cursor: pointer;
  border-radius: 15px;
}
.submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
