.balance {
  margin: 2vh 0;
  height: clamp(100px, 20vw, 170px);
  border-radius: 50px;
}


.span{
  font-size: small;
}


.withdraw{
  background-color: var(--yellow);
  border: none;
  font-size: large;
  font-weight: 900;
  margin-left: 20px;
  padding:5px 20px;
  border-radius: 15px;
}


.icon {
  height: 70%;
  width: 80%;
  width: 50vw;
margin-left: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.icon>h2{
  height: 90px;
  width: 100%;
  background-color: var(--yellow);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkolivegreen;
}

.cooldown{
  display: flex;
  flex-direction: column;
  cursor:auto;
}

.cooldown>button{
  background-color: darkolivegreen;
  color: var(--yellow);
  border: none;
  padding:10px 25px;
  font-weight: 700;
  margin: 5px 0 0px 0;
  border-radius: 15px;
  cursor: pointer;
}