/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
}
.header > button {
  width: 25px;
  font-weight: 900;
  border: none;
  background-color: unset;
  cursor: pointer;
}

/* ERROR */
.error {
  height: 20px;
  text-align: center;
  position: absolute;
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  color: crimson;
  text-align: center;
}

/* BUTTON */
.wrapper {
  display: flex;
  justify-content: center;
}
.submit {
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--yellow);
  font-weight: 900;
  font-size: 1rem;
  color: var(--dark);
  cursor: pointer;
  border-radius: 15px;
  margin-top: 4vh;
}
.submit:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.medium {
  width: 170px;
  height: 30px;
  font-size: 0.9rem;
  margin: auto;
}

/* SPINNER */
.loader {
  margin: auto;
  width: 32px;
  height: 32px;
  border: 2px solid #ddd;
  border-top: 2px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
